{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    [
      "root-import", 
      {
        "paths": [
          {
            "rootPathPrefix": "@component",
            "rootPathSuffix": "component"
          }
        ]
      }
    ]
  ]
}